@media (min-width: 66.5rem) {
    .side-bar {
        width: auto !important;
        min-width: 264px;
    }
    .main {
        margin-left: 268px;
        max-width: unset;
    }
    .main-content-wrap {
        max-width: 800px;
    }
    .yes-no-image {
        width: 24px;
        height: 24px;
        margin-bottom: -6px;
    }
}